img {
    height: 250px;
    width: 300px;
}

.containter {
    padding: 30px;
    border-style: dashed;
    border-width: 5px;
    margin: 10px;
    height: 400px;
    width: 1000px;
    display: flex;
    align-items: center;
}

.home {
    flex: 1;
}

.header1 {
    text-align: center;
}

.home:nth-child(1) {
    margin-left: 100px;
}